<div>
<div style="text-align: center">
	<br><br><img src="{{vm.image}}" style="width: 200px;height: 200px;border-radius: 50%;margin-left:470;">
	
	</div>
	<div>
	<br>
		<div class="form-group row">
		<div class="col-sm-2"><label class="form-control">Login Id </label></div>
		<div class="col-sm-10"><input type="text" class="form-control" placeholder="login" value="{{vm.login}}" ></div>
		</div>
	</div>
	<div>
		<div class="form-group row">
		<div class="col-sm-2"><label class="form-control">Id </label></div>
		<div class="col-sm-10"><input type="text" class="form-control" placeholder="Id" value="{{vm.id}}"></div>
		</div>
	</div>
	<div>
		<div class="form-group row">
		<div class="col-sm-2"><label class="form-control">Public Gists </label></div>
		<div class="col-sm-10"><input type="text" class="form-control" placeholder="Public Gists" value="{{vm.gists}}"></div>
		</div>
	</div>
</div>