<div>
	<div>
		<div class="form-group row">
		<div class="col-sm-2"><label class="form-control">Followers </label></div>
		<div class="col-sm-10"><input type="text" class="form-control" placeholder="Followers" value="{{vm.follow}}"></div>
		</div>
	</div>
	<div class="form-group row">
<button class="btn btn-primary col-lg-12" ui-sref=".followerslist">Followers List</button>
</div>
<div ui-view></div>
</div>