<div class="form-group row">
	<button class="btn btn-primary col-lg-6" ng-click="myvalue = true">Ascending</button>
	<button class="btn btn-primary col-lg-6" ng-click="myvalue = false">Descending</button>
</div>
<div ng-if="myvalue">
	<div ng-repeat="item in vm.followerslist">
		<div ng-repeat="key in item | orderBy:'login'">
			{{key.login}}
		</div>
	</div>
</div>
<div ng-if="!myvalue">
	<div ng-repeat="item in vm.followerslist">
		<div ng-repeat="key in item | orderBy:'-login'">
			{{key.login}}
		</div>
	</div>
</div>