<div class="form-group row">
	<button class="btn btn-primary col-lg-6" ng-click="myvalue1 = true">Ascending</button>
	<button class="btn btn-primary col-lg-6" ng-click="myvalue1 = false">Descending</button>
</div>
<div ng-if="myvalue1">
	<div ng-repeat="item in vm.followinglist">
		<div ng-repeat="key in item | orderBy:'login'">
			{{key.login}}
		</div>
	</div>
</div>
<div ng-if="!myvalue1">
	<div ng-repeat="item in vm.followinglist">
		<div ng-repeat="key in item | orderBy:'-login'">
			{{key.login}}
		</div>
	</div>
</div>