<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>REST API GITHUB</title>
		<base href="/">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
		<script>
		var app = angular.module('app' , ['ui.router']);
		app.controller('MainCtrl', function($http)
		{
			var vm = this;
			vm.fetchData = function(user)
			{
				$http.get('https://api.github.com/users/' + user.name).then(function(res){
				console.log(res);
				vm.login=res.data.login;
				vm.image=res.data.avatar_url;
				vm.id=res.data.id;
				vm.repo=res.data.public_repos;
				vm.gists=res.data.public_gists;
				vm.follow=res.data.followers;
				vm.following=res.data.following;
				})
				$http.get('https://api.github.com/users/' + user.name+'/repos').then(function(res1){
				console.log(res1);
				vm.repositorieslist=res1;
				})
				$http.get('https://api.github.com/users/' + user.name+'/followers').then(function(res2){
				console.log(res2);
				vm.followerslist=res2;
				})
				$http.get('https://api.github.com/users/' + user.name+'/following').then(function(res3){
				console.log(res3);
				vm.followinglist=res3;
				})
			}
		})
		app.config(['$stateProvider','$urlRouterProvider', function($stateProvider,$urlRouterProvider) {
				
		$urlRouterProvider.otherwise('/index.html');		
		$stateProvider
			.state('details', {
							url: "/details",
							templateUrl: "details.html"
						})
			.state('repo', {
							url: "/repositories",
							templateUrl: "repo.html"
						})
			.state('follow', {
							url: "/followers",
							templateUrl: "followers.html"
						})
			.state('following', {
							url: "/following",
							templateUrl: "following.html"
						})
			.state('repo.repositorieslist', {
							url: "/repolist",
							templateUrl: "repositorieslist.html"
						})
			.state('follow.followerslist', {
							url: "/followerlist",
							templateUrl: "followerslist.html"
						})
			.state('following.followinglist', {
							url: "/followinglist",
							templateUrl: "followinglist.html"
						})	
		}]);
		app.config(["$locationProvider", function($locationProvider) {
				$locationProvider.html5Mode(true);
			}]);
		</script>
	</head>
<body ng-controller="MainCtrl as vm">
<div class="container">
	<h3>Github REST API Example : </h3><hr>
	<div class="form-group row">
		<div class="col-lg-10">
			<input type="text" name="UserId" id="UserId" ng-model="user.name" class="form-control" placeholder="Enter Github UserId" autofocus>
		</div>
		<button class="btn btn-primary col-lg-2" ng-click="vm.fetchData(user)">Submit</button>
	</div>
	<hr>
	<div class="form-group row">
	<button class="btn btn-primary col-lg-3" ui-sref="details">Details</button>
	<button class="btn btn-primary col-lg-3" ui-sref="follow">Followers</button>
	<button class="btn btn-primary col-lg-3" ui-sref="following">Following</button>
	<button class="btn btn-primary col-lg-3" ui-sref="repo">Repositories</button>
	</div>
	<div ui-view></div>
	<footer style=" margin-left:1000px;position: fixed;bottom: 0;width: 10%;">
	<button onclick="window.location.replace('/index.html');"  class="btn btn-primary col-lg-12">Reset</button>
	</footer>
</div>
</body>
</html>
