<div class="form-group row">
	<button class="btn btn-primary col-lg-6" ng-click="date = true">Order By Date</button>
	<button class="btn btn-primary col-lg-6" ng-click="date = false">Order By Size</button>
</div>



<div ng-if="date">
<div class="form-group row">
	<button class="btn btn-primary col-lg-3" ng-click="myvalue2 = true">DATE ASC</button>
	<button class="btn btn-primary col-lg-3" ng-click="myvalue2 = false">DATE DESC</button>
</div>
<div ng-if="myvalue2">
	<div ng-repeat="item in vm.repositorieslist">
		<div ng-repeat="key in item | orderBy:'created_at'">
			{{key.name}}
		</div>
	</div>
</div>
<div ng-if="!myvalue2">
	<div ng-repeat="item in vm.repositorieslist">
		<div ng-repeat="key in item | orderBy:'-created_at'">
			{{key.name}}
		</div>
	</div>
</div>
</div>

<div ng-if="!date">
<div class="form-group row">
	<button class="btn btn-primary col-lg-3 pull-right" ng-click="myvalue2 = true">SIZE ASC</button>
	<button class="btn btn-primary col-lg-3 pull-right" ng-click="myvalue2 = false">SIZE DESC</button>
</div>
<div ng-if="myvalue2">
	<div ng-repeat="item in vm.repositorieslist" style="margin-left:50%">
		<div ng-repeat="key in item | orderBy:'size'">
			{{key.name}}
		</div>
	</div>
</div>
<div ng-if="!myvalue2">
	<div ng-repeat="item in vm.repositorieslist" style="margin-left:50%">
		<div ng-repeat="key in item | orderBy:'-size'">
			{{key.name}}
		</div>
	</div>
</div>
</div>
