<div>
	<div>
		<div class="form-group row">
		<div class="col-sm-2"><label class="form-control">Public Repositories</label></div>
		<div class="col-sm-10"><input type="text" class="form-control" placeholder="Public Repositories" value="{{vm.repo}}"></div>
		</div>
</div>
	<div class="form-group row">
<button class="btn btn-primary col-lg-12" ui-sref=".repositorieslist">Repositories List</button>
</div>
<div ui-view></div>
</div>